*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #09477D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-calendar-picker-indicator {
  background-image: url('/src/assets/icons/Mdcalender.png')
}


 /* Hide scrollbar for Chrome, Safari and Opera */
 .scroll__hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll__hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 



/* Predefined Classes */


/* flex box  */
.flex {
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.items-between{
  align-items: space-between;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

/* utitlity */
.hide{
  display: none;
}


.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
